body {
  text-align: center;
  background-color: LIGHTSLATEGRAY;
	background-position: center;
	color: #063058;
  font-family: georgia, serif;
  font-size: 22px;
}
h1 {
	color: #002C2B;
	height: 100px;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	width: 100%;
	margin-top:0px;
	margin-bottom: 20px;
	font-size: 70px;
	padding-top: 60px;
	text-shadow: 1px 1px 2px #CEE;
}
h2 {
	color: white;
	margin: 0px;
	text-shadow: 1px 1px 2px #CEE;
}
header {
	text-align: center;
	background-color: lightcyan;
/*  background-image: url("./assets/teal-cloth.jpg");*/
}
img {
	margin: 40px 0px 0px 0px;
	border: 7px solid white;
	border-radius: 20px;
}
ul {
	padding: 12px;
	background: lightgrey;
	text-shadow: 1px 1px 2px #333;
	font-family: helvetica, sans-serif; 
	font-weight: bold;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
a {
/*	color: white;*/
	text-decoration:none;  
}
.photo {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 600px;
	position: relative;
	padding-top:300px;
	text-align: center;
}
.photo p {
/*	color:white;*/
/*	text-shadow: 2px 2px 3px #333;*/
	margin-left: 200px;
	margin-right: 200px;
	text-align: left;
}

#about {
	background-image: url("./assets/creased-paper.jpg");
	color: black;
}

#projects {
/*	background-image: url("./assets/green-texture.jpg");*/
}

#follow {
	background-image: url("./assets/creased-paper.jpg");
}

#follow p, a {
	text-align: center;
	color: black;
}

#profile-image {
	margin-bottom: 150px;
}