body {
  background-color: #21252E;
	background-position: center;
	color: #063058;
  font-family: georgia, serif;
  font-size: 22px;
}

h1{
	color: #002C2B;
	height: 100px;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	width: 100%;
	margin-top:0px;
	margin-bottom: 20px;
	font-size: 70px;
	padding-top: 60px;
	text-shadow: 1px 1px 2px #CEE;
}

h2 {
	color:white;
	margin-top: 60px;
}

img {
	border: 2px solid white;
	border-radius: 2px;
}

ul {
	padding: 12px;
	background: lightgrey;
	text-shadow: 1px 1px 2px #333;
	font-family: helvetica, sans-serif; 
	font-weight: bold;
}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

a {
	text-decoration:none;  
}

.photo {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 400px;
	position: relative;
	padding-top:100px;
}

.photo p {
	margin-left: 200px;
	margin-right: 200px;
	text-align: left;
}

.projects{
	padding-top: 100px;
	padding-bottom: 200px;
}

.projects .row{
	margin-bottom: 40px;
}

.projects img {
	width: 100%;
	margin-bottom: 40px;
}

#about {
	background-image: url("./assets/creased-paper.jpg");
	color: black;
	font-size: 24px;
	min-height: 500px;
	padding-top: 100px;
}

#follow {
	background-image: url("./assets/creased-paper.jpg");
	text-align: center;
	min-height: 400px;
	padding-top: 100px;

}

#follow p, a {
	text-align: center;
	color: black;
}

#profile {
	min-height: 500px;
}

#profile-image {
	margin-bottom: 150px;
}

#profile-image img {
	width: 100%;
}

#header {
	padding-right: 0px;
}

.navbar-default{
	border-radius:0px;
}

#projects{
	min-height: 1000px;
}
