body {
  text-align: center;
  background-color: #E1EDED;
	background-position: center;
	color: #063058;
  font-family: georgia, sans-serif;
  font-size: 22px;
}
h1 {
	color: black;
	height: 100px;
	font-size: 24px;
	font-weight: normal;
	left: 0;
	line-height: 40px;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
	margin-top:0px;
	margin-bottom: 20px;
	font-size: 70px;
	padding-top: 60px;
}
h2 {
	color: white;
	margin: 0px;
}
header {
	text-align: center;
  background-image: url("./chevron.png");
}
img {
	margin: 40px 0px 0px 0px;
	border: 7px solid white;
	border-radius: 20px;
}
ul {
	padding: 10px;
	background: #067A89;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
a {
	color: white;
	text-decoration:none;  
}

.photo {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 600px;
	position: relative;
	padding-top:300px;
}
.photo p {
	color:white;
}

#about {
	background-image: url("./vertical-slats.jpg");
}
#hobbies {
	background-image: url("./rock.jpg");
}
#follow {
	background-image: url("./creased-paper.jpg");
}
#profile-image {
	margin-bottom: 150px;
	margin-top: 75px;
}