header {
	text-align: center;
  background-image: url("./chevron.png");
  background-size: cover;
}
h1 {
	margin-top:0px;
	margin-bottom: 20px;
	font-size: 70px;
	padding-top: 20px;
}
body {
  text-align: center;
  background-color: #E1EDED;
	background-position: center;
	color: #063058;
  font-family: georgia, sans-serif;
  font-size: 22px;
}
img {
	margin: 40px 0px 0px 0px;
	border: 7px solid white;
	border-radius: 20px;
}
ul {
	padding: 10px;
	background: #067A89;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
a {
	color: white;
	text-decoration:none;  
}
.section {
	margin-top:0px; 
	margin-bottom:0px;
	height:1200px;
}
#about {
	background-image: url("./fall-road.jpg");
}
#about h2 {
		padding-top:600px;
		color:white;
}
#about p {
	color:white;
}
#hobbies {
	background-image: url("./brick.jpeg");
}
#hobbies h2 {
		padding-top:600px;
		color:white;
}
#hobbies p {
	color:white;
}
#follow {
	background-image: url("./time-lapse.jpg");
}
#follow h2 {
		padding-top:600px;
		color:white;
}
#follow p {
	color:white;
}
h2 {
	margin: 0px;
}
#profile-image{
	margin-bottom: 150px;
	margin-top: 75px;
}