  body {
    	text-align: center;
    	background-color: #E1EDED;
			background-position: center;
			color: #063058;
      font-family: georgia, serif;
      font-size: 22px;
    }
    img {
        margin: 40px 0px 0px 0px;
        border: 7px solid white;
        border-radius: 20px;
    }
    ul {
        padding: 10px;
        background: black;
    }
    li {
        display: inline;
        padding: 0px 10px 0px 10px;
    }
